{% extends 'base.html' %}

{% block content %}
<script>
    if(user_is_logged_in()){
        location.replace("/")
    }
</script>

<div class="col">
    <h2>Login</h2>
    <form id="login_form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>

        <button type="button" class="btn btn-primary" onclick="onclick_login()">Login</button>
    </form>


    <script>
        function onclick_login(){
            var form_data = getFormData("login_form")
            login(form_data["username"], form_data["password"])
        };
    </script>
</div>
{% endblock %}